body{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color:  #ccd1d1;
  padding: 0;
  margin: 0;
  background-color: #212f3c;
}

header{
  background: #212f3c;
  color: #ccd1d1;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: #b05219 5px solid;
}

header div{
  width: 80%;
  margin:auto;
  overflow: hidden;
}

header ul{
  margin: 0;
  padding: 0;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;

}

header a:hover{
  color: #777878;
  text-decoration-line: none;
}

header a{
  font-size: 16px;
  color: #CCD1D1;
  transition-duration: 0.4s;
}



#button{
  text-align: center;
}

#button button{
  color: #ccd1d1;
  text-decoration: none;
}

#button a{
  color: #ccd1d1;
  text-decoration: none;
}

#showcase{
  height: 100vh;
  width: 100%;
  padding: 0 25px 0 25px;
  text-align: center;
  color: #ccd1d1;
  background-image: url("../img/DSC_0270.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#showcase div{
  height: 100vh;
  transform: translate(0, 40%);
}

#showcase h1{
  font-family: 'Sanchez', serif;
}

#welcome{
  background-color: #131c36;
  color: #ccd1d1;
  height: 50vh;
  text-align: center;
}

#welcome h1{
  transform: translate(0, 40%);
  font-family: 'Sanchez', serif;
  padding-bottom: 20px;
}

#welcome p{
  transform: translate(0, 50%);
}

#everyPost{
  background-color: #131c36;
}

#otherPost{
  background-color: #914b1f;
}

footer {
  background-color: #212f3c;
  height: 40px;
}

footer ul{
  text-align: center;
  padding: 5px 0px 0px 0px;
  margin: 0;
}

footer li{
  display: inline;
  padding: 10px 10px 10px 10px;
}

footer a:hover{
  color: #777878;
  text-decoration-line: none;
}

footer a{
  color: #CCD1D1;
  transition-duration: 0.4s;
}


#showcaseAbout{
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #ccd1d1;
  background-image: url("../img/DSC_0270.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#showcaseAbout div{
  height: 100vh;
  transform: translate(0, 30%);
}

#showcaseAbout h2{
  font-family: 'Sanchez', serif;
}

#aboutMe{
  color: #ccd1d1;
  width: 100%;
  height: 70vh;
  background-color: #264d44;
}

#aboutMe div{
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  transform: translate(0, -13%);
}

#aboutMe h1{
  font-family: 'Sanchez', serif;
  text-align: center;
}

#aboutMe p{
  text-indent: 2em;
}

#laptopIcon{
  text-align: center;
  transform: translate(-20px, 0);
}

#connect{
  color: #ccd1d1;
  width: 100%;
  height: 40vh;
  background-color: #7d7819;
}

#connect div{
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  transform: translate(0, -25%);
}

#connect h1{
  font-family: 'Sanchez', serif;
  text-align: center;
}

#connect p{
  text-indent: 2em;
}

#connect a:hover{
  color: #666666;
}

#connect a{
  transition-duration: 0.4s;
}

#icons {
  text-align: center;
  transform: translate(0, 100%);
}

#icons a{
  color: #212f3c;
  margin-left: 10px;
  margin-right: 10px;
}

#showcaseResume{
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #ccd1d1;
  background-image: url("../img/DSC_0270.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#showcaseResume div{
  height: 100vh;
  transform: translate(0, 40%);
}

#showcaseResume h1{
  font-family: 'Sanchez', serif;
}

#resume{
  background-color: #332222;
  height: 100vh;
}

#resume embed{
  padding: 5% 15% 5% 15%;
  height: 100vh;
}

.post{
  color: #ccd1d1;
  width: 100%;
  height: 800px;
}

.post h1{
  font-family: 'Sanchez', serif;
  text-align: center;
  transform: translate(0, 25px);
}

.post p{
  text-indent: 2em;
  padding: 25px 0 0 0;
}

.post ul{
  transform: translate(0, -30px);
  padding: 0 0 0 0;
  margin: 0;
}

.post li{
  display: inline;
  float: left;
}

.post button{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 0 0 20px;
  transform: translate(-50px, -20px);
}

#everyPost #projectText{
  padding: 0 50px 0 50px;
  width: 60%
}

#everyPost #projectCarousel{
  transform: translate(-5%, 0);
  width: 40%
}

#otherPost #projectText{
  padding: 0 50px 0 50px;
  width: 60%
}

#otherPost #projectCarousel{
  width: 40%
}

.carousel{
  max-height: 100vh;
  max-width: 95%;
  float: right;
}

#projectText{
  text-indent: 2em;
}

#githubLinksOnOther{
  color: #00008a;
  float: left;
}

@media(max-width: 916px){
  #aboutMe{
    height: 100vh;
  }
}

@media(max-width: 864px){
  #welcome{
    height: 100vh;
    transform: translate(0, 0);
    padding: 0 10px 0 10px;
  }

  #welcome #button{
    transform: translate(0, 100%);
  }
}

@media(max-width: 768px){
  #header{
    width: 100%;
  }

  header li{
    padding: 0 5% 0 5%;
  }

  #showcase {
    padding: 0 0 0 0;
  }

  #showcase p{
    padding: 0 10px 0 10px;
  }

  #showcase div{
    transform: translate(0, 25%);
  }

  #showcaseAbout h3{
    font-size: 20px;
  }

  #aboutMe{
    height: 200vh;
  }

  #aboutMe div{
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    transform: translate(0, 0);
  }

  #connect{
    height: 65vh;
  }

  #connect div{
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 5px;
    transform: translate(0, 0);
  }

  #icons {
    text-align: center;
    display: inline;
    transform: translate(10%, 0);
  }

  #showcaseResume p{
    padding: 0 10px 0 10px;
  }

  #showcaseResume div{
    transform: translate(0, 25%);
  }

  #resume embed{
    padding: 0 0 0 0;
    height: 100vh;
  }

  .post{
    height: 1400px;
  }

  .post li{
    float: left;
  }

  #everyPost #projectText{
    padding: 0 25px 0 25px;
    width: 100%;
  }

  #everyPost #projectCarousel{
    padding: 10px 0 10px 0;
    transform: translate(-5%, 0);
    width: 100%;
  }

  #otherPost #projectText{
    padding: 0 25px 0 25px;
    width: 100%;
  }

  #otherPost #projectCarousel{
    padding: 10px 0 10px 0;
    transform: translate(-5%, 0);
    width: 100%;
  }

  .carousel{
    max-height: 50vh;
    max-width: 90%;
  }

  #projectText{
    text-indent: 2em;
  }
}
